# Для битрикса

/upload
/cgi-bin
/local/vendor
/.vscode
/bitrix
/include/order-make/caption.php

webstat
*.zip
*.gz
*.tar
*.pdf
*.sql
*.log
*.mp3
*.svf
*.csv
*.xml
*.log

/*.xml
/*.yml
/*.csv
.ssh

.idea
Thumbs.db
._.DS_Store
.DS_Store

!.gitlab-ci.yml
!.gitignore
.htaccess
.htaccess.restore
robots.txt
feed*.xml

error_log*
site.webmanifest
test.php
sitemap.xml
sitemap_iblock_*.xml
.top.menu.php
.sitemap.menu.php
.sitemap.menu_ext.php
/.ssh
favicon.ico

/_test

# ресурсы сайта
# Миграции (xml файлы)
!/local/php_interface/migrations/**/*